body {

    margin: 0; /* eliminates margin spacing on body so that the footer color is able to fill the window */
  
    /* Sets the background for the entire page to a light yellow color */
  
    background-color: #FAF8DA;
  
    font-family: 'Open Sans', sans-serif; /* Font from Google Fonts */
  
  }
  
  
  
  /* begin header styling */
  
  .primary-header {
  
    text-align: center; /* This will center the main heading and the main image */
  
  }
  
  
  
  .main-heading {
  
    font-size: 70px;
  
    color: #205D76;
  
  }
  
  
  
  .town-preview {
  
    width: 950px;
  
  }
  
  /* end header styling */
  
  
  
  /* begin main styling */
  
  .store-section {
  
    display: flex; /* Makes the content witin this element flexible */
  
    display: -webkit-flex ; /* vendor prefix */
  
    margin: 50px auto; /* Adds spacing at top of all sections and then centers them */
    
    text-align: center ;

    margin-left: 27%;

    width: 450px; /* approximate width of each section */
  
  }
  
  
  
  .building {
  
    width: 300px;
  
  }
  
  
  
  .store-details { /* This is the div that contains the text */
  
    margin: 70px auto;
  
  }
  
  
  
  .category-heading {
  
    color: #205D76;
  
    font-size: 50px;
  
  }
  
  
  
  .store-list {
  
    padding-left: 1px;
  
    color: #FFC122; /* this will make sure the bullet points turn dark yellow! */
  
  }
  
  
  
  .store-name {
  
    margin-bottom: 7px; /* adds a bit of space at the bottom of each list item */

    list-style: none;
  
  }
  
  
  
  .store-link {
  
    color: #EA6E2F;
  
    font-size: 22px;
  
  }
  
  /* end main styling */
  
  
  
  /* begin footer styling */
  
  .primary-footer {
  
    margin-top: 10px;

    padding: 10px;
  
    background-color: #FFC122;
  
    text-align: center;
    
    border: 1px solid #FFC122;
 
    border-radius: 30px;

    margin-left: 250px;

    margin-right: 250px;

    max-width: 1920px;

    max-height: 100px;

    display: -webkit-flex;

    display: flex;

    justify-content: space-between;
  
  }
  
  
  
  .created-by {
  
    color: #F0FFFF;
  
    font-size: 20px;

    margin: 0 auto;

    
  
  }
  .url__github
  {
    text-decoration: none;

    font-size: 20px;

    color: #000;

    margin: 0 auto;
  }

  .url__thirdpage
  {
    text-decoration: none;

    font-size: 20px;

    color: #000;

    margin: 0 auto;
  }
  /* end footer styling */